In [1]:
import pandas as pd

df1 = pd.read_csv("Pure_Data.csv")
df2 = df1.loc[df1['Variable'] != 'Production']
df3 = df2.loc[df1['Variable'] != 'Net imports']
df4 = df3.loc[df1['Variable'] != 'Demand']
df5 = df4.loc[df4['Area'] != 'EU-27']
df6 = df5.loc[df5['Area'] != 'EU27+1']
df7 = df6.loc[df6['Variable'] != 'Wind and solar']

df7 = df7[['Year','Area','Variable','Share of production (%)','Change on last year (%)']]
df7 = df7.loc[df7['Variable'] != 'Hydro']
df7 = df7.loc[df7['Variable'] != 'Wind']
df7 = df7.loc[df7['Variable'] != 'Solar']
df7 = df7.loc[df7['Variable'] != 'Bioenergy']
df7 = df7.loc[df7['Variable'] != 'Gas']
df7 = df7.loc[df7['Variable'] != 'Other renewables']
df7 = df7.loc[df7['Variable'] != 'Renewables']
df7 = df7.loc[df7['Variable'] != 'Nuclear']

df7['Share_sum(%)'] = df7.groupby(['Year', 'Area'])['Share of production (%)'].transform(sum)
df7['Change_sum(%)'] = df7.groupby(['Year', 'Area'])['Change on last year (%)'].transform(sum)
df7 = df7.fillna(0)
df7 = df7[['Year','Area','Share_sum(%)','Change_sum(%)']]

df7.fillna(0)
dt = df7.drop_duplicates()
#df7.describe()
dt.to_csv("Pure_Data3.csv")

      Year            Area  Share_sum(%)  Change_sum(%)
0     2000         Austria     51.315704       0.000000
13    2000         Belgium     77.420173       0.000000
26    2000        Bulgaria    134.516304       0.000000
39    2000         Croatia     85.217839       0.000000
52    2000          Cyprus    200.000000       0.000000
...    ...             ...           ...            ...
7579  2020        Slovakia     32.197462      76.234936
7592  2020        Slovenia     81.089497     109.690947
7605  2020           Spain     45.233803    -119.782963
7618  2020          Sweden      4.364973       0.000000
7631  2020  United Kingdom     46.673913     -50.663347

[588 rows x 4 columns]

In [4]:
dt = pd.read_csv("Pure_Data3.csv")

dt['Latitude'] = ""
dt['Longitude'] = ""

areaindex = dt.index[dt['Area'] == "Austria"]
dt.loc[areaindex, ["Latitude"]] = 47.518859
dt.loc[areaindex, ["Longitude"]] = 14.130515

areaindex = dt.index[dt['Area'] == "Belgium"]
dt.loc[areaindex, ["Latitude"]] = 50.785392
dt.loc[areaindex, ["Longitude"]] = 4.800448

areaindex = dt.index[dt['Area'] == "Bulgaria"]
dt.loc[areaindex, ["Latitude"]] = 42.508785
dt.loc[areaindex, ["Longitude"]] = 25.15709

areaindex = dt.index[dt['Area'] == "Croatia"]
dt.loc[areaindex, ["Latitude"]] = 45.805799
dt.loc[areaindex, ["Longitude"]] = 16.37241

areaindex = dt.index[dt['Area'] == "Cyprus"]
dt.loc[areaindex, ["Latitude"]] = 35.216071
dt.loc[areaindex, ["Longitude"]] = 33.692434

areaindex = dt.index[dt['Area'] == "Czech Republic"]
dt.loc[areaindex, ["Latitude"]] = 49.882364
dt.loc[areaindex, ["Longitude"]] = 15.377555

areaindex = dt.index[dt['Area'] == "Denmark"]
dt.loc[areaindex, ["Latitude"]] = 55.966965
dt.loc[areaindex, ["Longitude"]] = 9.018163

areaindex = dt.index[dt['Area'] == "Estonia"]
dt.loc[areaindex, ["Latitude"]] = 58.724865
dt.loc[areaindex, ["Longitude"]] = 25.867126

areaindex = dt.index[dt['Area'] == "Finland"]
dt.loc[areaindex, ["Latitude"]] = 63.252361
dt.loc[areaindex, ["Longitude"]] = 27.276449

areaindex = dt.index[dt['Area'] == "France"]
dt.loc[areaindex, ["Latitude"]] = 46.696113
dt.loc[areaindex, ["Longitude"]] = 2.552275

areaindex = dt.index[dt['Area'] == "Germany"]
dt.loc[areaindex, ["Latitude"]] = 50.961733
dt.loc[areaindex, ["Longitude"]] = 9.678348

areaindex = dt.index[dt['Area'] == "Greece"]
dt.loc[areaindex, ["Latitude"]] = 39.492763
dt.loc[areaindex, ["Longitude"]] = 21.72568

areaindex = dt.index[dt['Area'] == "Hungary"]
dt.loc[areaindex, ["Latitude"]] = 47.086841
dt.loc[areaindex, ["Longitude"]] = 19.447867

areaindex = dt.index[dt['Area'] == "Ireland"]
dt.loc[areaindex, ["Latitude"]] = 53.078726
dt.loc[areaindex, ["Longitude"]] = -7.798588

areaindex = dt.index[dt['Area'] == "Italy"]
dt.loc[areaindex, ["Latitude"]] = 44.732482
dt.loc[areaindex, ["Longitude"]] = 11.076907

areaindex = dt.index[dt['Area'] == "Latvia"]
dt.loc[areaindex, ["Latitude"]] = 57.066872
dt.loc[areaindex, ["Longitude"]] = 25.458723

areaindex = dt.index[dt['Area'] == "Lithuania"]
dt.loc[areaindex, ["Latitude"]] = 55.103703
dt.loc[areaindex, ["Longitude"]] = 24.089932

areaindex = dt.index[dt['Area'] == "Luxembourg"]
dt.loc[areaindex, ["Latitude"]] = 49.733732
dt.loc[areaindex, ["Longitude"]] = 6.07762

areaindex = dt.index[dt['Area'] == "Malta"]
dt.loc[areaindex, ["Latitude"]] = 35.9375
dt.loc[areaindex, ["Longitude"]] = 14.3754

areaindex = dt.index[dt['Area'] == "Netherlands"]
dt.loc[areaindex, ["Latitude"]] = 52.422211
dt.loc[areaindex, ["Longitude"]] = 5.61144

areaindex = dt.index[dt['Area'] == "Poland"]
dt.loc[areaindex, ["Latitude"]] = 51.990316
dt.loc[areaindex, ["Longitude"]] = 19.490468

areaindex = dt.index[dt['Area'] == "Portugal"]
dt.loc[areaindex, ["Latitude"]] = 39.606675
dt.loc[areaindex, ["Longitude"]] = -8.271754

areaindex = dt.index[dt['Area'] == "Romania"]
dt.loc[areaindex, ["Latitude"]] = 45.733237
dt.loc[areaindex, ["Longitude"]] = 24.972624

areaindex = dt.index[dt['Area'] == "Slovakia"]
dt.loc[areaindex, ["Latitude"]] = 48.734044
dt.loc[areaindex, ["Longitude"]] = 19.049868

areaindex = dt.index[dt['Area'] == "Slovenia"]
dt.loc[areaindex, ["Latitude"]] = 46.06076
dt.loc[areaindex, ["Longitude"]] = 14.915312

areaindex = dt.index[dt['Area'] == "Spain"]
dt.loc[areaindex, ["Latitude"]] = 40.090953
dt.loc[areaindex, ["Longitude"]] = -3.464718

areaindex = dt.index[dt['Area'] == "Sweden"]
dt.loc[areaindex, ["Latitude"]] = 65.85918
dt.loc[areaindex, ["Longitude"]] = 19.01705

areaindex = dt.index[dt['Area'] == "United Kingdom"]
dt.loc[areaindex, ["Latitude"]] = 54.402739
dt.loc[areaindex, ["Longitude"]] = -2.116346

dt.pop("Unnamed: 0")
dt.to_csv("Pure_Data_coord2.csv")